.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  color: white;
  justify-content: center;
}

.project-card {
  /* padding: 24px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 24px; */
  border: 1.5px solid transparent;
  border-radius: 6px;
  background-image: linear-gradient(var(--clr-main-bg), var(--clr-main-bg)),
    linear-gradient(135deg, var(--clr-blue-light), var(--clr-purple-light));
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
}

.project-card p{
  width: 90%;
}
.project-card img{
  padding: 0;
  width: 30%;
}
.track-img{
  width: 90%;
  height: 20%;
  border: 1px solid var(--clr-blue-light);
  margin: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;

}
.project-card > * {
  padding: 24px;
}

.project-card .btn-primary {
  min-width: max-content;
  border-radius: 50px;
  padding: 10px 30px;
}

.cs-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cs-text .cs-para{
  font-size: 22px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}